<div class="2xl:grid gap-[25px]">
    <!-- Totaux Superadmin -->
    <app-total-superadmin />
</div>

<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="trezo-card lg:col-span-3 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md ">
        <!-- Utilisateurs par date -->
        <app-utilisateurs-par-date />
    </div>
    <div class="trezo-card lg:col-span-2 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md ">
        <!-- Machines par catégorie -->
        <app-machines-par-categorie />
    </div>
</div>

<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="trezo-card lg:col-span-1 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md ">
        <!-- Réservations par statut -->
        <app-reservations-par-statut-superadmin />
    </div>
    <div class="trezo-card lg:col-span-2 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md ">
        <!-- Réservations par date -->
        <app-reservations-par-date-superadmin />
    </div>
</div>