<div class="2xl:grid gap-[25px]">
    <!-- Metric Cards -->
    <app-metric-cards />
</div>

<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="trezo-card lg:col-span-3 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md">
        <!-- Matériels par Date -->
        <app-materiels-par-date />
    </div>
    <div class="trezo-card lg:col-span-2 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md">
        <!-- Interventions par Type -->
        <app-interventions-par-type />
    </div>
</div>

<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="trezo-card lg:col-span-1 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md">
        <!-- Distribution des Matériels -->
        <app-distribution-materiels />
    </div>
    <div class="trezo-card lg:col-span-2 mb-[25px] bg-white dark:bg-[#0c1427] p-[20px] rounded-md">
        <!-- Tendance des Interventions -->
        <app-tendance-interventions />
    </div>
</div> 