<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] sm:flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">Matériels Manquants</h5>
        </div>
        <div class="trezo-card-subtitle mt-[10px] sm:mt-0 flex flex-col sm:flex-row items-center gap-3">
            <button type="button" 
            class="rounded-md inline-block transition-all py-[3.5px] px-[17px] border border-gray-100 dark:border-[#172036] hover:border-primary-500 hover:bg-primary-500 hover:text-white" (click)="openModaladd()">
                <i class="ri-add-line text-xl"></i> Ajouter
            </button>
        </div>
    </div>

  
</div>


<table class="table">
  <thead class="thead-light">
    <tr>
    <th scope="col"> Nom</th>
    <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
       <tr *ngFor ="let materiel of allmatmanquant">
                        <td>{{ materiel.nom }}</td>
                        <td>  
                        <button class="text-blue-500 hover:text-blue-700" >
                                <i class="ri-pencil-line"></i> Modifier
                            </button>
                            <button class="text-red-500 hover:text-red-700">
                                <i class="ri-delete-bin-line"></i> Supprimer
                            </button>
                        </td>
                    </tr>

  </tbody>
</table>
<div *ngIf="showModaladd" class="modal-overlay">
    <div class="modal-content">
        <span class="close" (click)="closeModaladd()">&times;</span>
        <h2>Ajouter un matériel Manquant</h2>
        <form (ngSubmit)="addMaterielman()">
            <!-- Modèle -->
            <div>
                <label for="model">Nom</label>
                <input type="text" id="model" [(ngModel)]="newMaterielmanq.nom" name="nom" placeholder="Nom" required />
            </div>

         

            <!-- En maintenance -->
    <div>
 
</div>




              <button type="submit">Ajouter</button>
            <button type="button" (click)="closeModaladd()">Annuler</button>
        </form>
    </div>
</div>